html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

body {
  margin: 0;
}

.snapSection {
  min-height: 100vh;
  scroll-snap-align: start;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
