.home {
  width: 100%;
  scroll-snap-type: y mandatory;
}

.snapSection {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.sectionContent {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;
}

.sectionContent h2 {
  margin: 0;

  font-size: 50px;
}

.sectionContent p {
  margin-top: 15px;

  font-size: 18px;
}
